<%- include ("./static/header") %>
    <%- include ("./static/sidebar") %>
        <%- include ("./static/navbar") %>


        <div class="container-fluid mb-4">
                    <div class="row mt-5">



                        <div class="col-4"></div>
                        <div class="col-4">
                            <img src="/img/TristoneLogo.png" class="img-logo rounded mx-auto d-block"
                                alt="Tristone Flowtech">
                                <h1 class="display-5 text-center csvTitulo">Historial Aprobado</h1>
                                <p class="lead text-center"></p>
                        </div>
                        
                        <div class="col-auto" style="margin: 0 auto">
                            <h5 class="text-center">Aprobado</h5>
                            <table id="tableAcumulado"
                                class="table table-responsive-sm table-striped table-bordered table-hover text-center">
                                <thead>
                                    <tr>
                                        <th colspan="3" class=" bg-info text-white"
                                            style="border-top-left-radius: 30px !important;" id="numero_semana"></th>
                                    </tr>
                                    <tr>
                                        <th>X2</th>
                                        <th>X3</th>
                                        <th>x2DL</th>
                                    </tr>
                                </thead>
                                <tbody>


                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
         



            <div class="container">

                <div class="table-responsive mt-2">
                    <div class="containerTable">
                        <div class="table table-responsive" id="table">
                            <table id="table2" class="table table-bordered table-striped table-sm hover text-center">
                                <thead class="thead-dark">

                                    <th width="1%"><span></span> Revisar</th>
                                    <th width="10%"><span></span> Id Solicitud</th>
                                    <th width="10%"><span></span> Solicitante</th>
                                    <th width="10%"><span></span> Horas</th>
                                    <th width="20%"><span></span> Semana</th>
                                    <th width="20%"><span></span> Motivo</th>
                   

                                </thead>

                                <tbody>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

       


            <div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header card-mov">
                        <img src="/img/TristoneLogo.png" alt="SAP" srcset="" class="card-mov">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle text-success" style="font-size: 2rem;"> </i>
                            </div>
                            <div class="col">
                                <h5>Solicitud Aprobada</h5>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnCerrar_Success" type="button" class="btn btn-secondary btnCerrar"
                            data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="modalRechazado" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header card-mov">
                    <img src="/img/TristoneLogo.png" alt="SAP" srcset="" class="card-mov">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-2">
                            <i class="fas fa-times-circle text-danger" style="font-size: 2rem;"> </i>
                        </div>
                        <div class="col">
                            <h5>Solicitud Rechazada</h5>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCerrar_Success" type="button" class="btn btn-secondary btnCerrar"
                        data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>




    <%- include ("./static/guia") %>



<%- include ("./static/footer") %>
<script src="/js/functions/aprobar_historial.js"></script>
