<%- include ("./static/header") %>
    <%- include ("./static/sidebar") %>
        <%- include ("./static/navbar") %>


            <div class="container">
                <div class="row mt-5">

                    <div class="col-2"></div>
                    <div class="col-8">
                        <img src="/img/TristoneLogo.png" class="img-logo rounded mx-auto d-block" alt="Tristone Flowtech">
                        <h1 class="display-5 text-center csvTitulo">Solicitud #<%= id %>
                        </h1>
                        <input type="text" class="form-control text-center" name="id" id="id" value="<%= id %>" hidden>
                        <p class="lead text-center"></p>
                        
                    </div>
                </div>
            </div>

            <div class="container">

                <div class="card-header text-white bg-dark ">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Semana</label>
                                <div>
                                    <input type="text" class="form-control text-center" name="semana" id="semana"
                                        readonly>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Motivo</label>
                                <div>
                                    <input type="text" class="form-control text-center" name="motivo" id="motivo"
                                        readonly>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-6 text-center">
                        <div class="form-group">
                            <input type="text" class="form-control text-center" name="startDate" id="startDate"
                                placeholder="YYYY-MM-DD" value="" hidden>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <div class="form-group">
                            <input type="text" class="form-control text-center" name="endDate" id="endDate"
                                placeholder="YYYY-MM-DD" value="" hidden>
                        </div>
                    </div>

                </div>

                <div class=" mt-4 text-center">
                    <button id="btnEditar" class="btn btn-warning" hidden><span class="fas fa-pen"></span> Editar Solicitud</button>
                </div>

            </div>
            <div class="container-fluid">
                <div class="table-responsive mt-2">
                    <div class="containerTable">
                        <div class="table table-responsive" id="table">
                            <table id="table2" class="table table-bordered table-striped table-sm hover text-center">
                                <thead class="thead-dark">

                                    <tr>
                                        <th colspan="10" class="bg-transparent border-top-0"></th>
                                        <th colspan="3" class="bg-dark ">Solicitud Actual</th>
                                        <th colspan="3" class="bg-transparent border-top-0"></th>
                                        <th colspan="3" class="bg-dark ">Acumulado</th>
 
                                    </tr>
                                    
                                    <tr>
                                    <th width="1%"><span></span> Empleado</th>
                                    <th width="20%"><span></span> Nombre</th>
                                    <th width="5%"><span></span> Turno</th>
                                    <th width="4%"><span></span> L</th>
                                    <th width="4%"><span></span> M</th>
                                    <th width="4%"><span></span> Mc</th>
                                    <th width="4%"><span></span> J </th>
                                    <th width="4%"><span></span> V</th>
                                    <th width="4%"><span></span> S</th>
                                    <th width="4%"><span></span> D</th>
                                    <th width="4%"><span></span>x2</th>
                                    <th width="4%"><span></span>x3</th>
                                    <th width="4%"><span></span>x2DL</th>
                                    <th width="10%"><span></span> Area Actual</th>
                                    <th  width="15%"><span></span> Area a Laborar</th>
                                    <th  width="15%"><span></span>Jefe</th>
                                    <th width="4%"><span></span>x2</th>
                                    <th width="4%"><span></span>x3</th>
                                    <th width="4%"><span></span>x2DL</th>
                                    <th  width="15%"><span></span>Status</th>
                                    </tr>

                                </thead>

                                <tbody>



                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>


                <div class="modal fade bd-example-modal-lg" id="modalHistorial" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg ">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="card">
                                    <div class="card-header text-center d-none d-lg-block">
                                        <h4 class="card-mov"><span class="text-info fas fa-history"></span> Historial
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive mt-2">
                                            <div class="containerTable">
                                                <div class="table table-responsive" id="table">
                                                    <table id="tableHistorial"
                                                        class="table table-bordered table-striped table-sm hover text-center">
                                                        <thead class="thead-dark">

                                                            <th width="10%"><span></span> Empleado</th>
                                                            <th width="50%"><span></span> Comentario</th>
                                                            <th width="5%"><span></span> Status</th>
                                                            <th width="5%"><span></span> Fecha</th>
                                                        </thead>

                                                        <tbody>


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btnCerrar"
                                    data-dismiss="modal" id="btnCerrar">Cerrar</button>
                            </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>


            <%- include ("./static/guia") %>
            <%- include ("./static/footer") %>
                <script src="/js/functions/solicitud_historial.js"></script>